openapi: 3.2.0
info:
  title: Getpaid Onboard sellers webhooks API
  version: v2
  contact:
    email: support@getpaid.io
  description: '# Getting started


    Our APIs provide programmatic access to the Getpaid solution.'
servers:
- url: https://api.getpaid.io
  description: Live
- url: https://api.sandbox.getpaid.io
  description: Sandbox
tags:
- name: Onboard sellers webhooks
  description: Webhooks related to onboarding and accounts events.
paths: {}
webhooks:
  application_submitted:
    post:
      summary: application_submitted
      operationId: application_submitted
      description: The `application_submitted` webhook is sent when an onboarding application is submitted by a seller for review.
      tags:
      - Onboard sellers webhooks
      security: []
      parameters:
      - $ref: '#/components/parameters/GetpaidTraceId'
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/WebhookBaseRequest'
              - properties:
                  type:
                    const: application_submitted
                  data:
                    type: object
                    required:
                    - id
                    - reference
                    properties:
                      id:
                        $ref: '#/components/schemas/ApplicationId'
                      reference:
                        $ref: '#/components/schemas/Reference'
      responses:
        '429':
          description: The webhook action will be retried according to the workflow retry schedule
        2XX:
          description: Indicate success, the webhook will not be retried
        4XX:
          description: The webhook action will be disabled
        5XX:
          description: The webhook action will be retried according to the workflow retry schedule
  application_completed:
    post:
      summary: application_completed
      operationId: application_completed
      description: The `application_completed` webhook is sent when the onboarding application is approved and completed.
      tags:
      - Onboard sellers webhooks
      security: []
      parameters:
      - $ref: '#/components/parameters/GetpaidTraceId'
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/WebhookBaseRequest'
              - properties:
                  type:
                    const: application_completed
                  data:
                    type: object
                    required:
                    - id
                    - reference
                    properties:
                      id:
                        $ref: '#/components/schemas/ApplicationId'
                      reference:
                        $ref: '#/components/schemas/Reference'
      responses:
        '429':
          description: The webhook action will be retried according to the workflow retry schedule
        2XX:
          description: Indicate success, the webhook will not be retried
        4XX:
          description: The webhook action will be disabled
        5XX:
          description: The webhook action will be retried according to the workflow retry schedule
components:
  schemas:
    DateTime:
      description: 'UTC timestamp in ISO 8601 format with milliseconds ([RFC 3339](https://www.rfc-editor.org/rfc/rfc3339.html)).

        Always includes the ''Z'' UTC indicator.

        '
      type: string
      format: date-time
      minLength: 24
      maxLength: 24
      example: '2025-09-01T22:05:48.479Z'
    EventId:
      allOf:
      - $ref: '#/components/schemas/Id'
      - description: The unique identifier of the event.
        example: evt_4a4m2pjycdb1jbj68h1rvk9kcz
    ApplicationId:
      allOf:
      - $ref: '#/components/schemas/Id'
      - description: The unique identifier of the onboarding application.
        example: app_4fekhxdpss1et7rjp8t7rdpnw4
    Id:
      type: string
      format: id
      minLength: 30
      maxLength: 50
    Reference:
      allOf:
      - $ref: '#/components/schemas/ShortString'
      - description: An identifier in your system. It is recommended to make it unique but the uniqueness is not enforced by the solution.
        example: ORD-202510-0232
    ShortString:
      type: string
      minLength: 1
      maxLength: 50
    WebhookBaseRequest:
      type: object
      required:
      - id
      - type
      - version
      - occurred_at
      - data
      properties:
        id:
          $ref: '#/components/schemas/EventId'
        type:
          description: The type of event.
          type: string
        version:
          description: The version of the event type.
          type: string
          const: v2
          example: v2
        occurred_at:
          $ref: '#/components/schemas/DateTime'
          description: The UTC date and time at which the event occurred.
        data:
          description: The event data specific to each event type and version.
          type: object
  parameters:
    GetpaidTraceId:
      name: Getpaid-Trace-Id
      in: header
      description: The trace identifier for the request. It is a good idea to log this and provide it with any support requests
      required: true
      schema:
        type: string
        example: 96ce50247f87f540bb2d86771b3728b8
  securitySchemes:
    OAuth:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.getpaid.io/oauth/token
          scopes:
            accounts:read: Allows to read accounts and onboarding applications.
            accounts:read_write: Allows to read, create and/or operate accounts and onboarding applications.
            payments:read: Allows to read payments and checkouts.
            payments:read_write: Allows to read, create and/or operate payments and checkouts.
x-tagGroups:
- name: General
  tags:
  - Authentication
  - Documents
- name: Accept payments
  tags:
  - Checkouts
  - Payments
  - Accept payments webhooks
- name: Onboard sellers
  tags:
  - Accounts
  - Applications
  - Onboard sellers webhooks
- name: Operate
  tags:
  - Queries
  - Exports
  - Analytics
  - Operate webhooks
