openapi: 3.2.0
info:
  title: Getpaid Authentication API
  version: v2
  contact:
    email: support@getpaid.io
  description: '# Getting started


    Our APIs provide programmatic access to the Getpaid solution.'
servers:
- url: https://api.getpaid.io
  description: Live
- url: https://api.sandbox.getpaid.io
  description: Sandbox
tags:
- name: Authentication
  description: 'In order to authenticate with Getpaid API you need to request an OAuth 2.0 access token using your client ID and secret

    by calling the Request access token endpoint.


    Check full details on how API authentication and authorization works and how to get

    your client credentials.


    -->'
paths:
  /oauth/token:
    post:
      tags:
      - Authentication
      summary: Request access token
      description: Obtain an OAuth 2.0 access token to authenticate API requests
      operationId: request_access_token
      servers:
      - url: https://auth.getpaid.io
        description: OAuth server
      security: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestAccessTokenRequest'
            examples:
              LiveAccessToken:
                $ref: '#/components/examples/LiveAccessToken'
              SandboxAccessToken:
                $ref: '#/components/examples/SandboxAccessToken'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestAccessTokenResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsBase'
components:
  schemas:
    RequestAccessTokenResponse:
      type: object
      required:
      - access_token
      - scope
      - expires_in
      - token_type
      properties:
        access_token:
          description: The OAuth access token (JWT) used to authenticate to Getpaid API.
          type: string
          example: eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxIn0.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
        scope:
          description: The API scopes granted to the access token.
          type: string
          example: accounts:read documents:read_write payments:read
        expires_in:
          description: The duration (in seconds) until the access token expires.
          type: integer
          example: 86400
        token_type:
          description: The type of token returned.
          type: string
          enum:
          - Bearer
    RequestAccessTokenRequest:
      type: object
      required:
      - client_id
      - client_secret
      - audience
      - grant_type
      properties:
        client_id:
          description: Your OAuth client ID for the environment, live or sandbox, you are requesting the token for.
          type: string
          example: g6gWu46zeP0HH4jkW3i22yJ2shDrNxJ8
        client_secret:
          description: Your OAuth client Secret for the environment, live or sandbox, you are requesting the token for.
          type: string
          example: S6gozTXzrS42OZ0cmxVJG133mOfuHhSfkIJkcH7FBm-0HyGrVZMLGJtyruTA4CQv
        audience:
          description: The API you wish to integrate with. Use this to switch between sandbox and live environment.
          type: string
          format: uri
          enum:
          - https://api.sandbox.getpaid.io
          - https://api.getpaid.io
        grant_type:
          description: The OAuth grant type.
          type: string
          const: client_credentials
    ProblemDetailsBase:
      type: object
      description: The Problem Details JSON Object [[RFC7807](https://tools.ietf.org/html/rfc7807)].
      required:
      - type
      - title
      - status
      properties:
        type:
          type: string
          description: A URI reference [[RFC3986](https://tools.ietf.org/html/rfc3986)] that identifies the problem type. It should provide human-readable documentation for the problem type. When this member is not present, its value is assumed to be "about:blank".
          format: uri
          example: https://docs.getpaid.io/ref/error-types#problem
        title:
          type: string
          description: A short, human-readable summary of the problem type. It SHOULD NOT change from occurrence to occurrence of the problem, except for purposes of localization.
          example: Invalid Request
        status:
          type: integer
          description: The HTTP status code.
          minimum: 400
          maximum: 599
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem.
          example: The request body was invalid
  examples:
    SandboxAccessToken:
      summary: Sandbox access token
      value:
        client_id: 0UvlOgIPIKqAzd0yi7Xnk8NroSsRLOaj
        client_secret: S6gozTXzrS42OZ0cmxVJG133mOfuHhSfkIJkcH7FBm-0HyGrVZMLGJtyruTA4CQv
        audience: https://api.sandbox.getpaid.io
        grant_type: client_credentials
    LiveAccessToken:
      summary: Live access token
      value:
        client_id: g6gWu46zeP0HH4jkW3i22yJ2shDrNxJ8
        client_secret: VJG133mOfuHhSfkIS6gozTXzr7FBm-0HS42OZ0cmxJkcHyGrVZMLGJtyruTA4CQv
        audience: https://api.getpaid.io
        grant_type: client_credentials
  securitySchemes:
    OAuth:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.getpaid.io/oauth/token
          scopes:
            accounts:read: Allows to read accounts and onboarding applications.
            accounts:read_write: Allows to read, create and/or operate accounts and onboarding applications.
            payments:read: Allows to read payments and checkouts.
            payments:read_write: Allows to read, create and/or operate payments and checkouts.
x-tagGroups:
- name: General
  tags:
  - Authentication
  - Documents
- name: Accept payments
  tags:
  - Checkouts
  - Payments
  - Accept payments webhooks
- name: Onboard sellers
  tags:
  - Accounts
  - Applications
  - Onboard sellers webhooks
- name: Operate
  tags:
  - Queries
  - Exports
  - Analytics
  - Operate webhooks
