openapi: 3.1.0
info:
  title: Getpaid API
  version: v2
  contact:
    email: support@getpaid.io
  description: |
    # Getting started

    Our APIs provide programmatic access to the Getpaid solution. This page contains a comprehensive reference for all
    resources of the Getpaid public API. For walkthrough documentation please see [Getpaid guides](/) for step by step usage
    of the Getpaid platform including the API and [Getpaid API integration](/integration/api) for the technical aspects of
    this Getpaid API.

    To get started, book a demo and sign up at <https://getpaid.io>. This will give you access to the [Getpaid
    dashboard](https://dashboard.getpaid.io) where you can configure your account and retrieve your credentials needed to
    authenticate with Getpaid API.

    ## Postman

    Getpaid provides a Postman collection to test the API features in sandbox. You can [download the Postman collection and
    the environments](/integration/api/postman) to start testing the Getpaid API.

    ## Fields formats

    | Type | Format |
    | :- | :- |
    | `amount-minor` | Amount in the minor currency unit (e.g. 100 cents for 1 EUR). |
    | `country` | The country code fields follow the [ISO 3166-1 alpha-2 standard](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) in uppercase. Examples: `DE`, `US`. |
    | `currency` | The currency code fields follow the [ISO 4217 standard](https://en.wikipedia.org/wiki/ISO_4217) in uppercase. Examples: `EUR`, `USD`. |
    | `date` | Dates are formatted using the complete date format according to the [ISO 8601 standard](https://www.w3.org/TR/NOTE-datetime): `YYYY-MM-DD`. Example: `2023-09-30`.                                        |
    | `date-time` | Date-time fields are formatted using the [ISO 8601 standard](https://www.w3.org/TR/NOTE-datetime) for the combined date and time in UTC with 3 seconds fractional digits: `YYYY-MM-DDThh:mm:ss.SSSZ`. Example: `2015-09-01T23:59:59.479Z`. |
    | `date-time-offset` | Date-time fields with time-zone are formatted [ISO 8601 standard](https://www.w3.org/TR/NOTE-datetime) for the combined date and time with the time-zone and no second fractional digits: `YYYY-MM-DDThh:mm:ssTZD`. Example: `2015-09-01T23:59:59+01:00`. |
    | `email` | Email fields should follow the [RFC 5322](https://tools.ietf.org/html/rfc5322) standard. Example: `jon.smith@acme.com` |
    | `hex-color` | Colors are represented as a string starting with `#` followed by six hexadecimal digits. Each pair of digits represents the intensity of red, green, and blue components respectively. Examples: `#FFFFFF`, `#000000`, `#FF5733`. |
    | `id` | Identifiers are formatted as a string of 3 alphabetic characters (which represents the type of the identified object), one underscore and 26 alphanumeric characters. Every identifier generated in our system is globally unique. Examples: `acc_44678r08jtm8zbt227tzhc4nw5`, `doc_473cr1y0ghbyc3m1yfbwvn3nxx`. |
    | `ip-address` | IP fields are formatted using the [Internet Protocol version 4 (IPv4)](https://en.wikipedia.org/wiki/Internet_Protocol_version_4) standard: `x.x.x.x` where `x` must be a decimal value between `0` and `255`. Example: `192.158.1.38`. |
    | `version` | A resource version. For resources that can evolved over time, a unique reference of the snapshot used in other resource. For example, the account information used for a payment, the information used for the statement descriptor or the processing configuration are tighted to the version of the account. |
servers:
  - url: https://api.getpaid.io
    description: Live
  - url: https://api.sandbox.getpaid.io
    description: Sandbox
tags:
  - name: Authentication
    description: |
      <!-- markdownlint-disable link-fragments -->
      In order to authenticate with Getpaid API you need to request an OAuth 2.0 access token using your client ID and secret
      by calling the [Request access token endpoint](#tag/Authentication/operation/request_access_token).
      <!-- markdownlint-enable link-fragments -->

      Check full details on [how API authentication and authorization works](/integration/api/authentication/) and [how to get
      your client credentials](/integration/api/authentication/client-credentials).

      <!-- ReDoc-Inject: <security-definitions> -->
  - name: Checkouts
    description: Payment checkout sessions for one-time payments that the buyer can complete using Getpaid hosted checkout.
  - name: Payments
    description: |
      Create and manage payments initiated by the platform on behalf of the buyer.

      For recurring and unscheduled payments based on a previous standing instruction.
  - name: Accept payments webhooks
    description: Webhooks related to accepting payment events.
  - name: Applications
    description: Onboarding applications to collect the necessary information from sellers to create their Getpaid accounts and start accepting payments.
  - name: Accounts
    description: Getpaid accounts created for sellers so they can start accepting payments and receiving payouts.
  - name: Onboard sellers webhooks
    description: Webhooks related to onboarding and accounts events.
  - name: Queries
    description: List resources filtering and sorting them as needed.
paths:
  /oauth/token:
    post:
      tags:
        - Authentication
      summary: Request access token
      description: Obtain an OAuth 2.0 access token to authenticate API requests
      operationId: request_access_token
      servers:
        - url: https://auth.getpaid.io
          description: OAuth server
      security: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestAccessTokenRequest'
            examples:
              LiveAccessToken:
                $ref: '#/components/examples/LiveAccessToken'
              SandboxAccessToken:
                $ref: '#/components/examples/SandboxAccessToken'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestAccessTokenResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsBase'
  /v2/checkouts:
    post:
      tags:
        - Checkouts
      summary: Create a checkout
      description: |
        Create a payment checkout session.

        Related webhooks:

        - [`checkout_completed`](#tag/Accept-payments-webhooks/operation/checkout_completed): sent when the checkout process is completed with a successful payment.
        - [`checkout_failed`](#tag/Accept-payments-webhooks/operation/checkout_failed): sent when the checkout lifetime is reached without a successful payment attempt, and at least one payment was attempted but none were successful.
        - [`checkout_in_progress`](#tag/Accept-payments-webhooks/operation/checkout_in_progress): sent when the checkout lifetime reaches its expiration, but a payment attempt is still in progress.
        - [`checkout_unattempted`](#tag/Accept-payments-webhooks/operation/checkout_unattempted): sent when the checkout lifetime is reached without a payment.
        - For each payment attempt:
          - [`payment_captured`](#tag/Accept-payments-webhooks/operation/payment_captured): sent when the payment funds are captured and secured.
          - [`payment_failed`](#tag/Accept-payments-webhooks/operation/payment_failed): sent when a payment fails due to business (decline) or technical issues.
      operationId: create_checkout
      security:
        - OAuth:
            - payments:read_write
      parameters:
        - $ref: '#/components/parameters/GetpaidIdempotencyKey'
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCheckoutRequest'
            examples:
              CreateCheckout:
                $ref: '#/components/examples/CreateCheckout'
              CreateInitialRecurringCheckout:
                $ref: '#/components/examples/CreateInitialRecurringCheckout'
              CreateCheckoutExplicitMethods:
                $ref: '#/components/examples/CreateCheckoutExplicitMethods'
              CreateCheckoutBuyerDetails:
                $ref: '#/components/examples/CreateCheckoutBuyerDetails'
              CreateCheckoutCanada:
                $ref: '#/components/examples/CreateCheckoutCanada'
        required: true
      responses:
        '201':
          description: Created
          headers:
            Getpaid-Trace-Id:
              $ref: '#/components/headers/GetpaidTraceId'
              required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCheckoutResponse'
              examples:
                CheckoutCreated:
                  $ref: '#/components/examples/CheckoutCreated'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '422':
          $ref: '#/components/responses/422InvalidParameters'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
        '500':
          $ref: '#/components/responses/500InternalServerError'
  /v2/checkouts/{checkout_id}:
    get:
      tags:
        - Checkouts
      summary: Get a checkout
      description: Retrieve a payment checkout session.
      operationId: get_checkout
      security:
        - OAuth:
            - payments:read
        - OAuth:
            - payments:read_write
      parameters:
        - name: checkout_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/CheckoutId'
      responses:
        '200':
          description: OK
          headers:
            Getpaid-Trace-Id:
              $ref: '#/components/headers/GetpaidTraceId'
              required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCheckoutResponse'
              examples:
                CheckoutCompleted:
                  $ref: '#/components/examples/CheckoutCompleted'
                CheckoutInitiated:
                  $ref: '#/components/examples/CheckoutInitiated'
                CheckoutStarted:
                  $ref: '#/components/examples/CheckoutStarted'
                CheckoutInProgress:
                  $ref: '#/components/examples/CheckoutInProgress'
                CheckoutFailed:
                  $ref: '#/components/examples/CheckoutFailed'
                CheckoutExpired:
                  $ref: '#/components/examples/CheckoutExpired'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404NotFound'
        '422':
          $ref: '#/components/responses/422InvalidParameters'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
        '500':
          $ref: '#/components/responses/500InternalServerError'
  /v2/checkouts/query:
    post:
      tags:
        - Checkouts
      summary: Query checkouts
      description: |
        Query checkouts filtering, and sorting and paginating results.

        See [Query resources](#tag/Queries/operation/query_resources) for more examples and details
        about other resources, pagination and everything related to operate the Getpaid solution.
      operationId: query_checkouts
      security:
        - OAuth:
            - payments:read
      parameters:
        - $ref: '#/components/parameters/GetpaidIdempotencyKey'
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryCheckoutsRequest'
            examples:
              QueryPayments:
                $ref: '#/components/examples/QueryCheckouts'
        required: true
      responses:
        '200':
          description: OK
          headers:
            Getpaid-Trace-Id:
              $ref: '#/components/headers/GetpaidTraceId'
              required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryCheckoutsResponse'
              examples:
                FilteredCheckouts:
                  $ref: '#/components/examples/FilteredCheckouts'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '422':
          $ref: '#/components/responses/422InvalidParameters'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
        '500':
          $ref: '#/components/responses/500InternalServerError'
  /v2/payments:
    post:
      tags:
        - Payments
      summary: Create a payment
      description: |
        Create a payment initiated by the platform on behalf of a buyer.

        Related webhooks:

        - [`payment_captured`](#tag/Accept-payments-webhooks/operation/payment_captured): sent when the payment funds are captured and secured.
        - [`payment_failed`](#tag/Accept-payments-webhooks/operation/payment_failed): sent when a payment fails due to business (decline) or technical issues.
      operationId: create_payment
      security:
        - OAuth:
            - payments:read_write
      parameters:
        - $ref: '#/components/parameters/GetpaidIdempotencyKey'
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentRequest'
            examples:
              CreateSubsequentPayment:
                $ref: '#/components/examples/CreateSubsequentPayment'
        required: true
      responses:
        '201':
          description: Created
          headers:
            Getpaid-Trace-Id:
              $ref: '#/components/headers/GetpaidTraceId'
              required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePaymentResponse'
              examples:
                PaymentCreated:
                  $ref: '#/components/examples/PaymentCreated'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '422':
          $ref: '#/components/responses/422InvalidParameters'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
        '500':
          $ref: '#/components/responses/500InternalServerError'
  /v2/payments/{payment_id}:
    get:
      tags:
        - Payments
      summary: Get a payment
      description: Retrieve a payment.
      operationId: get_payment
      security:
        - OAuth:
            - payments:read
        - OAuth:
            - payments:read_write
      parameters:
        - name: payment_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/PaymentId'
      responses:
        '200':
          description: OK
          headers:
            Getpaid-Trace-Id:
              $ref: '#/components/headers/GetpaidTraceId'
              required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPaymentResponse'
              examples:
                CompletePayment:
                  $ref: '#/components/examples/CompletePayment'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404NotFound'
        '422':
          $ref: '#/components/responses/422InvalidParameters'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
        '500':
          $ref: '#/components/responses/500InternalServerError'
  /v2/payments/{payment_id}/refunds:
    post:
      tags:
        - Payments
      summary: Refund a payment
      description: |
        Refund a captured payment fully or partially.

        Related webhooks:

        - [`payment_refunded`](#tag/Accept-payments-webhooks/operation/payment_refunded): sent when the funds are returned to the buyer.
        - [`payment_refund_failed`](#tag/Accept-payments-webhooks/operation/payment_refund_failed): sent when a refund process fails due to business or technical issues.
      operationId: refund_payment
      security:
        - OAuth:
            - payments:read_write
      parameters:
        - name: payment_id
          in: path
          description: The ID of the payment to refund.
          required: true
          schema:
            $ref: '#/components/schemas/PaymentId'
        - $ref: '#/components/parameters/GetpaidIdempotencyKey'
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundPaymentRequest'
            examples:
              CreateFullRefund:
                $ref: '#/components/examples/CreateFullRefund'
              CreatePartialRefund:
                $ref: '#/components/examples/CreatePartialRefund'
        required: true
      responses:
        '201':
          description: Created
          headers:
            Getpaid-Trace-Id:
              $ref: '#/components/headers/GetpaidTraceId'
              required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundPaymentResponse'
              examples:
                FullRefundCreated:
                  $ref: '#/components/examples/FullRefundCreated'
                PartialRefundCreated:
                  $ref: '#/components/examples/PartialRefundCreated'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '422':
          $ref: '#/components/responses/422InvalidParameters'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
        '500':
          $ref: '#/components/responses/500InternalServerError'
  /v2/payments/query:
    post:
      tags:
        - Payments
      summary: Query payments
      description: |
        Query payments filtering, and sorting and paginating results.

        See [Query resources](#tag/Queries/operation/query_resources) for more examples and details
        about other resources, pagination and everything related to operate the Getpaid solution.
      operationId: query_payments
      security:
        - OAuth:
            - payments:read
      parameters:
        - $ref: '#/components/parameters/GetpaidIdempotencyKey'
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryPaymentsRequest'
            examples:
              QueryPayments:
                $ref: '#/components/examples/QueryPayments'
        required: true
      responses:
        '200':
          description: OK
          headers:
            Getpaid-Trace-Id:
              $ref: '#/components/headers/GetpaidTraceId'
              required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryPaymentsResponse'
              examples:
                FilteredPayments:
                  $ref: '#/components/examples/FilteredPayments'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '422':
          $ref: '#/components/responses/422InvalidParameters'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
        '500':
          $ref: '#/components/responses/500InternalServerError'
  /v2/accounts/query:
    post:
      tags:
        - Accounts
      summary: Query accounts
      description: |
        Query accounts filtering, sorting and paginating results.

        See [Queries](/operate/queries) for more examples and details about pagination and common query patterns.
      operationId: query_accounts
      security:
        - OAuth:
            - accounts:read
      parameters:
        - $ref: '#/components/parameters/GetpaidIdempotencyKey'
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryAccountsRequest'
            examples:
              QueryAccounts:
                $ref: '#/components/examples/QueryAccounts'
        required: true
      responses:
        '200':
          description: OK
          headers:
            Getpaid-Trace-Id:
              $ref: '#/components/headers/GetpaidTraceId'
              required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryAccountsResponse'
              examples:
                FilteredAccounts:
                  $ref: '#/components/examples/FilteredAccounts'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '422':
          $ref: '#/components/responses/422InvalidParameters'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
        '500':
          $ref: '#/components/responses/500InternalServerError'
  /v2/accounts/{account_id}/themes:
    get:
      tags:
        - Accounts
      summary: Get account themes
      description: |
        Retrieve the themes configured for an account.

        Sellers can retrieve themes they own. Platforms can retrieve themes for sellers they own.
      operationId: get_account_themes
      security:
        - OAuth:
            - accounts:read
      parameters:
        - name: account_id
          in: path
          description: The ID of the account whose themes should be retrieved.
          required: true
          schema:
            $ref: '#/components/schemas/AccountId'
      responses:
        '200':
          description: OK
          headers:
            Getpaid-Trace-Id:
              $ref: '#/components/headers/GetpaidTraceId'
              required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetThemesResponse'
              examples:
                AccountThemes:
                  $ref: '#/components/examples/AccountThemes'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
        '500':
          $ref: '#/components/responses/500InternalServerError'
  /v2/applications:
    post:
      tags:
        - Applications
      summary: Create an application
      description: |
        Create an application initiated by the platform so the seller can start submitting their information. It can be:

        - `onboarding`: to create a new account for the seller and start accepting payments.
        - `change_request`: to update an existing seller account with new information.

        Related webhooks:

        - [`application_submitted`](#tag/Onboard-sellers-webhooks/operation/application_submitted): sent when an application is submitted by a seller for review.
        - [`application_completed`](#tag/Onboard-sellers-webhooks/operation/application_completed): sent when the application is approved and completed.
      operationId: create_application
      security:
        - OAuth:
            - accounts:read_write
      parameters:
        - $ref: '#/components/parameters/GetpaidIdempotencyKey'
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApplicationRequest'
            examples:
              CreateApplication:
                $ref: '#/components/examples/CreateApplication'
              CreateApplicationSellerDetails:
                $ref: '#/components/examples/CreateApplicationSellerDetails'
              CreateApplicationCanada:
                $ref: '#/components/examples/CreateApplicationCanada'
              CreateApplicationCanadaSellerDetails:
                $ref: '#/components/examples/CreateApplicationSellerDetailsCanada'
              CreateChangeRequestApplication:
                $ref: '#/components/examples/CreateChangeRequestApplication'
              CreateChangeRequestApplicationWithTheme:
                $ref: '#/components/examples/CreateChangeRequestApplicationWithTheme'
        required: true
      responses:
        '201':
          description: Created
          headers:
            Getpaid-Trace-Id:
              $ref: '#/components/headers/GetpaidTraceId'
              required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateApplicationResponse'
              examples:
                ApplicationCreated:
                  $ref: '#/components/examples/ApplicationCreated'
                ChangeRequestApplicationCreated:
                  $ref: '#/components/examples/ChangeRequestApplicationCreated'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '422':
          $ref: '#/components/responses/422InvalidParameters'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
        '500':
          $ref: '#/components/responses/500InternalServerError'
  /v2/applications/{application_id}:
    get:
      tags:
        - Applications
      summary: Get an application
      description: |
        Retrieve details of an application by its ID. Both `onboarding` and `change_request` applications can be retrieved.
      operationId: get_application
      security:
        - OAuth:
            - accounts:read
      parameters:
        - name: application_id
          in: path
          description: The ID of the application to retrieve.
          required: true
          schema:
            $ref: '#/components/schemas/ApplicationId'
      responses:
        '200':
          description: OK
          headers:
            Getpaid-Trace-Id:
              $ref: '#/components/headers/GetpaidTraceId'
              required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApplicationResponse'
              examples:
                ApplicationInitiated:
                  $ref: '#/components/examples/ApplicationInitiated'
                ApplicationCompleted:
                  $ref: '#/components/examples/ApplicationCompleted'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
        '500':
          $ref: '#/components/responses/500InternalServerError'
  /v2/applications/{application_id}/refresh:
    post:
      tags:
        - Applications
      summary: Refresh an application
      description: |
        Extends the lifespan of an application so the seller can continue submitting their information. Both `onboarding` and `change_request` applications can be refreshed.
      operationId: refresh_application
      security:
        - OAuth:
            - accounts:read_write
      parameters:
        - name: application_id
          in: path
          description: The ID of the application to refresh.
          required: true
          schema:
            $ref: '#/components/schemas/ApplicationId'
        - $ref: '#/components/parameters/GetpaidIdempotencyKey'
          required: true
      responses:
        '200':
          description: OK
          headers:
            Getpaid-Trace-Id:
              $ref: '#/components/headers/GetpaidTraceId'
              required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshApplicationResponse'
              examples:
                ApplicationRefreshed:
                  $ref: '#/components/examples/ApplicationRefreshed'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404NotFound'
        '409':
          $ref: '#/components/responses/409Conflict'
        '422':
          $ref: '#/components/responses/422InvalidParameters'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
        '500':
          $ref: '#/components/responses/500InternalServerError'
  /v2/applications/{application_id}/cancel:
    post:
      tags:
        - Applications
      summary: Cancel an application
      description: |
        Cancels a duplicate or abandoned application. Both `onboarding` and `change_request` applications can be cancelled.

        Applications in `approved`, `completed`, or already `cancelled` status cannot be cancelled and return a validation error.

        The response returns the updated application with `status` set to `cancelled` and the hosted flow cleared. For change requests, cancellation closes the open workflow so a new change request can be created for the same seller account.
      operationId: cancel_application
      security:
        - OAuth:
            - accounts:read_write
      parameters:
        - name: application_id
          in: path
          description: The ID of the application to cancel.
          required: true
          schema:
            $ref: '#/components/schemas/ApplicationId'
        - $ref: '#/components/parameters/GetpaidIdempotencyKey'
          required: true
      responses:
        '200':
          description: OK
          headers:
            Getpaid-Trace-Id:
              $ref: '#/components/headers/GetpaidTraceId'
              required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApplicationResponse'
              examples:
                OnboardingApplicationCancelled:
                  $ref: '#/components/examples/OnboardingApplicationCancelled'
                ChangeRequestApplicationCancelled:
                  $ref: '#/components/examples/ChangeRequestApplicationCancelled'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404NotFound'
        '409':
          $ref: '#/components/responses/409Conflict'
        '422':
          $ref: '#/components/responses/422InvalidParameters'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
        '500':
          $ref: '#/components/responses/500InternalServerError'
  /v2/applications/query:
    post:
      tags:
        - Applications
      summary: Query applications
      description: |
        Query applications filtering, sorting and paginating results. Both `onboarding` and `change_request` applications are returned.

        See [Queries](/operate/queries) for more examples and details about pagination and common query patterns.
      operationId: query_applications
      security:
        - OAuth:
            - accounts:read
      parameters:
        - $ref: '#/components/parameters/GetpaidIdempotencyKey'
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryApplicationsRequest'
            examples:
              QueryApplications:
                $ref: '#/components/examples/QueryApplications'
        required: true
      responses:
        '200':
          description: OK
          headers:
            Getpaid-Trace-Id:
              $ref: '#/components/headers/GetpaidTraceId'
              required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryApplicationsResponse'
              examples:
                FilteredApplications:
                  $ref: '#/components/examples/FilteredApplications'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '422':
          $ref: '#/components/responses/422InvalidParameters'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
        '500':
          $ref: '#/components/responses/500InternalServerError'
  /v2/{resource_type}/query:
    post:
      tags:
        - Queries
      summary: Query resources
      description: |
        Query Getpaid solution resources obtaining specific data by filtering and retrieving each resource type:

        - `checkouts` - [Query checkouts](#tag/Checkouts/operation/query_checkouts)
        - `payments` - [Query payments](#tag/Payments/operation/query_payments)
      operationId: query_resources
      security:
        - OAuth:
            - payments:read
      parameters:
        - name: resource_type
          in: path
          description: The type of the resources to query.
          required: true
          schema:
            $ref: '#/components/schemas/QueriesResourceType'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryResourcesRequest'
            examples:
              QueryCheckouts:
                $ref: '#/components/examples/QueryCheckouts'
              QueryPayments:
                $ref: '#/components/examples/QueryPayments'
              QueryNext20Payments:
                $ref: '#/components/examples/QueryNext20Payments'
        required: true
      responses:
        '200':
          description: OK
          headers:
            Getpaid-Trace-Id:
              $ref: '#/components/headers/GetpaidTraceId'
              required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResourcesResponse'
              examples:
                FilteredPayments:
                  $ref: '#/components/examples/FilteredPayments'
                FilteredCheckouts:
                  $ref: '#/components/examples/FilteredCheckouts'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '422':
          $ref: '#/components/responses/422InvalidParameters'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
        '500':
          $ref: '#/components/responses/500InternalServerError'
webhooks:
  checkout_completed:
    post:
      summary: checkout_completed
      operationId: checkout_completed
      description: The `checkout_completed` webhook is sent when the checkout process is completed with a successful payment.
      tags:
        - Accept payments webhooks
      security: []
      parameters:
        - $ref: '#/components/parameters/GetpaidTraceId'
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/WebhookBaseRequest'
                - properties:
                    type:
                      const: checkout_completed
                    data:
                      type: object
                      required:
                        - id
                        - origin
                        - reference
                        - payment
                      properties:
                        id:
                          $ref: '#/components/schemas/CheckoutId'
                        origin:
                          $ref: '#/components/schemas/PaymentOrigin'
                        reference:
                          $ref: '#/components/schemas/Reference'
                        payment:
                          description: The successful payment associated with the completed checkout.
                          type: object
                          required:
                            - id
                          properties:
                            id:
                              $ref: '#/components/schemas/PaymentId'
                            standing_instruction:
                              description: The standing instruction associated with the payment, if the payment is the first of a recurring series.
                              required:
                                - id
                                - status
                              properties:
                                id:
                                  $ref: '#/components/schemas/StandingInstructionId'
                                status:
                                  allOf:
                                    - $ref: '#/components/schemas/StandingInstructionStatus'
                                    - const: active
                                      example: active
      responses:
        '429':
          description: The webhook action will be retried according to the workflow retry schedule
        2XX:
          description: Indicate success, the webhook will not be retried
        4XX:
          description: The webhook action will be disabled
        5XX:
          description: The webhook action will be retried according to the workflow retry schedule
  checkout_failed:
    post:
      summary: checkout_failed
      operationId: checkout_failed
      description: |
        The `checkout_failed` webhook is sent when the checkout lifetime is reached without a successful payment attempt, and at least one payment was attempted but none were successful.

        It can be received days after the checkout is created depending on the payment method selected.
      tags:
        - Accept payments webhooks
      security: []
      parameters:
        - $ref: '#/components/parameters/GetpaidTraceId'
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/WebhookBaseRequest'
                - properties:
                    type:
                      const: checkout_failed
                    data:
                      type: object
                      required:
                        - id
                        - origin
                        - reference
                        - payment
                      properties:
                        id:
                          $ref: '#/components/schemas/CheckoutId'
                        origin:
                          $ref: '#/components/schemas/PaymentOrigin'
                        reference:
                          $ref: '#/components/schemas/Reference'
                        payment:
                          allOf:
                            - $ref: '#/components/schemas/WebhookCheckoutPayment'
                            - description: The last payment failed associated with the checkout.
      responses:
        '429':
          description: The webhook action will be retried according to the workflow retry schedule
        2XX:
          description: Indicate success, the webhook will not be retried
        4XX:
          description: The webhook action will be disabled
        5XX:
          description: The webhook action will be retried according to the workflow retry schedule
  checkout_in_progress:
    post:
      summary: checkout_in_progress
      operationId: checkout_in_progress
      description: |
        The `checkout_in_progress` webhook is sent when the checkout lifetime reaches its expiration, but a payment attempt is still in progress.

        Banking payment methods are typical examples where this webhook can be sent, as the payment processing can take several days depending on the bank processing times.
      tags:
        - Accept payments webhooks
      security: []
      parameters:
        - $ref: '#/components/parameters/GetpaidTraceId'
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/WebhookBaseRequest'
                - properties:
                    type:
                      const: checkout_in_progress
                    data:
                      type: object
                      required:
                        - id
                        - origin
                        - reference
                        - payment
                      properties:
                        id:
                          $ref: '#/components/schemas/CheckoutId'
                        origin:
                          $ref: '#/components/schemas/PaymentOrigin'
                        reference:
                          $ref: '#/components/schemas/Reference'
                        payment:
                          allOf:
                            - $ref: '#/components/schemas/WebhookCheckoutPayment'
                            - description: The payment in progress pending to be confirmed its final status and associated with the checkout.
                              type: object
                              properties:
                                estimated_update_before:
                                  description: The estimated UTC datetime before which the payment status is expected to be updated.
                                  allOf:
                                    - $ref: '#/components/schemas/DateTime'
      responses:
        '429':
          description: The webhook action will be retried according to the workflow retry schedule
        2XX:
          description: Indicate success, the webhook will not be retried
        4XX:
          description: The webhook action will be disabled
        5XX:
          description: The webhook action will be retried according to the workflow retry schedule
  checkout_unattempted:
    post:
      summary: checkout_unattempted
      operationId: checkout_unattempted
      description: |
        The `checkout_unattempted` webhook is sent when the checkout lifetime is reached without a payment.
      tags:
        - Accept payments webhooks
      security: []
      parameters:
        - $ref: '#/components/parameters/GetpaidTraceId'
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/WebhookBaseRequest'
                - properties:
                    type:
                      const: checkout_unattempted
                    data:
                      type: object
                      required:
                        - id
                        - origin
                        - reference
                      properties:
                        id:
                          $ref: '#/components/schemas/CheckoutId'
                        origin:
                          $ref: '#/components/schemas/PaymentOrigin'
                        reference:
                          $ref: '#/components/schemas/Reference'
      responses:
        '429':
          description: The webhook action will be retried according to the workflow retry schedule
        2XX:
          description: Indicate success, the webhook will not be retried
        4XX:
          description: The webhook action will be disabled
        5XX:
          description: The webhook action will be retried according to the workflow retry schedule
  payment_captured:
    post:
      summary: payment_captured
      operationId: payment_captured
      description: The `payment_captured` webhook is sent when a payment is successfully captured and the funds are secured for the seller.
      tags:
        - Accept payments webhooks
      security: []
      parameters:
        - $ref: '#/components/parameters/GetpaidTraceId'
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/WebhookBaseRequest'
                - properties:
                    type:
                      const: payment_captured
                    data:
                      type: object
                      required:
                        - id
                        - origin
                        - reference
                        - capture_id
                      properties:
                        id:
                          $ref: '#/components/schemas/PaymentId'
                        origin:
                          $ref: '#/components/schemas/PaymentOrigin'
                        reference:
                          $ref: '#/components/schemas/Reference'
                        capture_id:
                          $ref: '#/components/schemas/CaptureId'
      responses:
        '429':
          description: The webhook action will be retried according to the workflow retry schedule
        2XX:
          description: Indicate success, the webhook will not be retried
        4XX:
          description: The webhook action will be disabled
        5XX:
          description: The webhook action will be retried according to the workflow retry schedule
  payment_failed:
    post:
      summary: payment_failed
      operationId: payment_failed
      description: The `payment_failed` webhook is sent when a payment fails due to business (decline) or technical issues.
      tags:
        - Accept payments webhooks
      security: []
      parameters:
        - $ref: '#/components/parameters/GetpaidTraceId'
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/WebhookBaseRequest'
                - properties:
                    type:
                      const: payment_failed
                    data:
                      type: object
                      required:
                        - id
                        - origin
                        - reference
                        - status
                      properties:
                        id:
                          $ref: '#/components/schemas/PaymentId'
                        origin:
                          $ref: '#/components/schemas/PaymentOrigin'
                        reference:
                          $ref: '#/components/schemas/Reference'
                        status:
                          allOf:
                            - $ref: '#/components/schemas/PaymentStatus'
                            - example: failed
      responses:
        '429':
          description: The webhook action will be retried according to the workflow retry schedule
        2XX:
          description: Indicate success, the webhook will not be retried
        4XX:
          description: The webhook action will be disabled
        5XX:
          description: The webhook action will be retried according to the workflow retry schedule
  payment_refunded:
    post:
      summary: payment_refunded
      operationId: payment_refunded
      description: The `payment_refunded` webhook is sent when a refund is successfully completed and the funds have been returned to the buyer.
      tags:
        - Accept payments webhooks
      security: []
      parameters:
        - $ref: '#/components/parameters/GetpaidTraceId'
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/WebhookBaseRequest'
                - properties:
                    type:
                      const: payment_refunded
                    data:
                      type: object
                      required:
                        - id
                        - origin
                        - reference
                        - refund
                      properties:
                        id:
                          $ref: '#/components/schemas/PaymentId'
                        origin:
                          $ref: '#/components/schemas/PaymentOrigin'
                        reference:
                          $ref: '#/components/schemas/Reference'
                        refund:
                          description: The refund details.
                          type: object
                          required:
                            - id
                            - reference
                          properties:
                            id:
                              $ref: '#/components/schemas/RefundId'
                            reference:
                              allOf:
                                - $ref: '#/components/schemas/Reference'
                                - example: RFD-202510-0002
      responses:
        '429':
          description: The webhook action will be retried according to the workflow retry schedule
        2XX:
          description: Indicate success, the webhook will not be retried
        4XX:
          description: The webhook action will be disabled
        5XX:
          description: The webhook action will be retried according to the workflow retry schedule
  payment_refund_failed:
    post:
      summary: payment_refund_failed
      operationId: payment_refund_failed
      description: The `payment_refund_failed` webhook is sent when a refund has failed.
      tags:
        - Accept payments webhooks
      security: []
      parameters:
        - $ref: '#/components/parameters/GetpaidTraceId'
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/WebhookBaseRequest'
                - properties:
                    type:
                      const: payment_refund_failed
                    data:
                      type: object
                      required:
                        - id
                        - origin
                        - reference
                        - refund
                      properties:
                        id:
                          $ref: '#/components/schemas/PaymentId'
                        origin:
                          $ref: '#/components/schemas/PaymentOrigin'
                        reference:
                          $ref: '#/components/schemas/Reference'
                        refund:
                          description: The refund details.
                          type: object
                          required:
                            - id
                            - reference
                          properties:
                            id:
                              $ref: '#/components/schemas/RefundId'
                            reference:
                              allOf:
                                - $ref: '#/components/schemas/Reference'
                                - example: RFD-202510-0002
      responses:
        '429':
          description: The webhook action will be retried according to the workflow retry schedule
        2XX:
          description: Indicate success, the webhook will not be retried
        4XX:
          description: The webhook action will be disabled
        5XX:
          description: The webhook action will be retried according to the workflow retry schedule
  application_submitted:
    post:
      summary: application_submitted
      operationId: application_submitted
      description: The `application_submitted` webhook is sent when an onboarding application is submitted by a seller for review.
      tags:
        - Onboard sellers webhooks
      security: []
      parameters:
        - $ref: '#/components/parameters/GetpaidTraceId'
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/WebhookBaseRequest'
                - properties:
                    type:
                      const: application_submitted
                    data:
                      type: object
                      required:
                        - id
                        - reference
                      properties:
                        id:
                          $ref: '#/components/schemas/ApplicationId'
                        reference:
                          $ref: '#/components/schemas/Reference'
      responses:
        '429':
          description: The webhook action will be retried according to the workflow retry schedule
        2XX:
          description: Indicate success, the webhook will not be retried
        4XX:
          description: The webhook action will be disabled
        5XX:
          description: The webhook action will be retried according to the workflow retry schedule
  application_completed:
    post:
      summary: application_completed
      operationId: application_completed
      description: The `application_completed` webhook is sent when the onboarding application is approved and completed.
      tags:
        - Onboard sellers webhooks
      security: []
      parameters:
        - $ref: '#/components/parameters/GetpaidTraceId'
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/WebhookBaseRequest'
                - properties:
                    type:
                      const: application_completed
                    data:
                      type: object
                      required:
                        - id
                        - reference
                      properties:
                        id:
                          $ref: '#/components/schemas/ApplicationId'
                        reference:
                          $ref: '#/components/schemas/Reference'
      responses:
        '429':
          description: The webhook action will be retried according to the workflow retry schedule
        2XX:
          description: Indicate success, the webhook will not be retried
        4XX:
          description: The webhook action will be disabled
        5XX:
          description: The webhook action will be retried according to the workflow retry schedule
components:
  securitySchemes:
    OAuth:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.getpaid.io/oauth/token
          scopes:
            accounts:read: Allows to read accounts and onboarding applications.
            accounts:read_write: Allows to read, create and/or operate accounts and onboarding applications.
            payments:read: Allows to read payments and checkouts.
            payments:read_write: Allows to read, create and/or operate payments and checkouts.
  schemas:
    RequestAccessTokenRequest:
      type: object
      required:
        - client_id
        - client_secret
        - audience
        - grant_type
      properties:
        client_id:
          description: Your OAuth client ID for the environment, live or sandbox, you are requesting the token for.
          type: string
          example: g6gWu46zeP0HH4jkW3i22yJ2shDrNxJ8
        client_secret:
          description: Your OAuth client Secret for the environment, live or sandbox, you are requesting the token for.
          type: string
          example: S6gozTXzrS42OZ0cmxVJG133mOfuHhSfkIJkcH7FBm-0HyGrVZMLGJtyruTA4CQv
        audience:
          description: The API you wish to integrate with. Use this to switch between sandbox and live environment.
          type: string
          format: uri
          enum:
            - https://api.sandbox.getpaid.io
            - https://api.getpaid.io
        grant_type:
          description: The OAuth grant type.
          type: string
          const: client_credentials
    RequestAccessTokenResponse:
      type: object
      required:
        - access_token
        - scope
        - expires_in
        - token_type
      properties:
        access_token:
          description: The OAuth access token (JWT) used to authenticate to Getpaid API.
          type: string
          example: eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxIn0.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
        scope:
          description: The API scopes granted to the access token.
          type: string
          example: accounts:read documents:read_write payments:read
        expires_in:
          description: The duration (in seconds) until the access token expires.
          type: integer
          example: 86400
        token_type:
          description: The type of token returned.
          type: string
          enum:
            - Bearer
    ProblemDetailsBase:
      type: object
      description: The Problem Details JSON Object [[RFC7807](https://tools.ietf.org/html/rfc7807)].
      required:
        - type
        - title
        - status
      properties:
        type:
          type: string
          description: A URI reference [[RFC3986](https://tools.ietf.org/html/rfc3986)] that identifies the problem type. It should provide human-readable documentation for the problem type. When this member is not present, its value is assumed to be "about:blank".
          format: uri
          example: https://docs.getpaid.io/ref/error-types#problem
        title:
          type: string
          description: A short, human-readable summary of the problem type. It SHOULD NOT change from occurrence to occurrence of the problem, except for purposes of localization.
          example: Invalid Request
        status:
          type: integer
          description: The HTTP status code.
          minimum: 400
          maximum: 599
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem.
          example: The request body was invalid
    ShortString:
      type: string
      minLength: 1
      maxLength: 50
    Reference:
      allOf:
        - $ref: '#/components/schemas/ShortString'
        - description: An identifier in your system. It is recommended to make it unique but the uniqueness is not enforced by the solution.
          example: ORD-202510-0232
    AmountMinor:
      type: integer
      format: amount-minor
      description: The payment amount in the minor currency unit (e.g. 100 cents for 1 EUR).
      example: 1000
    Currency:
      type: string
      format: currency
      minLength: 3
      maxLength: 3
      description: The processing currency code according to the [ISO-4217 standard](https://en.wikipedia.org/wiki/ISO_4217)
      example: EUR
    MediumString:
      type: string
      minLength: 1
      maxLength: 250
    CheckoutDescription:
      allOf:
        - $ref: '#/components/schemas/MediumString'
        - description: |
            A description of the checkout session.
            This will be visible to the buyer in the payment page but not in the bank or card statement.
          example: Order 202510-0232
    PaymentMethodType:
      description: The type of payment method.
      type: string
      enum:
        - card
        - sepa_direct_debit
    PaymentMethodBase:
      type: object
      required:
        - type
      properties:
        type:
          $ref: '#/components/schemas/PaymentMethodType'
    CardScheme:
      description: The card scheme.
      type: string
      enum:
        - visa
        - mastercard
    CardPaymentMethodDescriptor:
      allOf:
        - $ref: '#/components/schemas/PaymentMethodBase'
        - required:
            - scheme
          properties:
            scheme:
              $ref: '#/components/schemas/CardScheme'
    PaymentMethodDescriptor:
      description: A payment method.
      oneOf:
        - $ref: '#/components/schemas/PaymentMethodBase'
        - $ref: '#/components/schemas/CardPaymentMethodDescriptor'
      discriminator:
        propertyName: type
        mapping:
          card: '#/components/schemas/CardPaymentMethodDescriptor'
          sepa_direct_debit: '#/components/schemas/PaymentMethodBase'
    CardDynamicDescriptor:
      description: |
        The card dynamic descriptor.

        It will be prefixed with `GPD*` when displayed on the buyer statement. You don't need to include the `GPD*` prefix in the value sent.
      type: string
      pattern: ^[a-zA-Z0-9 *\._-]{1,18}$
      minLength: 1
      maxLength: 18
      example: TITAN*202510-0232
    CheckoutCardPaymentMethodOptions:
      description: Configuration options for card payment methods in the checkout.
      type: object
      required:
        - dynamic_descriptor
      properties:
        dynamic_descriptor:
          $ref: '#/components/schemas/CardDynamicDescriptor'
    SddRemittanceInfo:
      description: |
        The SEPA Direct Debit remittance information shown on the buyer statement.
      type: string
      minLength: 1
      maxLength: 140
      example: 'Titan Auto Parts Ord. #0232 Inv. #202500632'
    CheckoutSepaDirectDebitPaymentMethodOptions:
      description: Configuration options for SEPA Direct Debit payment methods in the checkout.
      type: object
      required:
        - remittance_info
      properties:
        remittance_info:
          $ref: '#/components/schemas/SddRemittanceInfo'
    CheckoutPaymentMethodsOptions:
      description: Configuration options for the payment methods available in the checkout.
      type: object
      properties:
        cards:
          $ref: '#/components/schemas/CheckoutCardPaymentMethodOptions'
        sepa_direct_debit:
          $ref: '#/components/schemas/CheckoutSepaDirectDebitPaymentMethodOptions'
    CheckoutExplicitPaymentMethodsRequest:
      type: object
      required:
        - type
        - available
      properties:
        type:
          description: The available payment methods selection method.
          type: string
        available:
          description: The list of payment methods to display in the checkout overriding the default methods.
          type: array
          minItems: 1
          uniqueItems: true
          items:
            $ref: '#/components/schemas/PaymentMethodDescriptor'
        options:
          $ref: '#/components/schemas/CheckoutPaymentMethodsOptions'
    CheckoutDefaultPaymentMethodsRequest:
      type: object
      required:
        - type
      properties:
        type:
          description: The available payment methods selection method.
          type: string
        options:
          $ref: '#/components/schemas/CheckoutPaymentMethodsOptions'
    CheckoutPaymentMethodsRequest:
      description: |
        Configure payment methods for the checkout.

        - `explicit`: use `available` to provide the methods to display.
        - `default`: all available payment methods are selected automatically.
      anyOf:
        - $ref: '#/components/schemas/CheckoutExplicitPaymentMethodsRequest'
        - $ref: '#/components/schemas/CheckoutDefaultPaymentMethodsRequest'
      discriminator:
        propertyName: type
        mapping:
          explicit: '#/components/schemas/CheckoutExplicitPaymentMethodsRequest'
          default: '#/components/schemas/CheckoutDefaultPaymentMethodsRequest'
    SplitsType:
      description: The type of payment split.
      type: string
      enum:
        - per_transaction
    SplitsAccountType:
      description: |
        The type of account.

        Exactly one account of type `platform` and one of type `seller` are required and allowed per payment.
      type: string
      enum:
        - platform
        - seller
        - other
    Id:
      type: string
      format: id
      minLength: 30
      maxLength: 50
    AccountId:
      allOf:
        - $ref: '#/components/schemas/Id'
        - description: The unique identifier of the account.
          example: acc_44678r08jtm8zbt227tzhc4nw5
    SplitBaseAmount:
      type: object
      description: |
        The amount in payment currency to be allocated to this account.

        The sum of all split amounts for all accounts must be exactly the total amount of the payment
        or use the `remaining` type for one of the accounts to allocate the remaining amount after all
        other splits have been calculated.
      required:
        - type
      properties:
        type:
          type: string
          description: The type of split amount.
          enum:
            - fixed
            - percentage
            - remaining
    SplitAmountMinor:
      allOf:
        - description: The amount allocated to this account in the minor currency unit (e.g. 100 cents for 1 EUR).
        - $ref: '#/components/schemas/AmountMinor'
    SplitFixedAmount:
      allOf:
        - $ref: '#/components/schemas/SplitBaseAmount'
        - required:
            - amount
          properties:
            amount:
              $ref: '#/components/schemas/SplitAmountMinor'
    Percentage:
      type: number
      format: float
      minimum: 0
      maximum: 100
      multipleOf: 0.1
      example: 62.5
    SplitPercentageAmountRequest:
      allOf:
        - $ref: '#/components/schemas/SplitBaseAmount'
        - type: object
          required:
            - percentage
          properties:
            percentage:
              allOf:
                - $ref: '#/components/schemas/Percentage'
                - description: The percentage of the total amount to allocate to this account.
    SplitRemainingAmountRequest:
      allOf:
        - $ref: '#/components/schemas/SplitBaseAmount'
    ProcessingFeeRequest:
      description: |
        The processing fee covered by this account.

        If not specified, the account will not cover any processing fee.

        The sum of all processing fees covered by all accounts must be exactly 100%.
      type: object
      required:
        - percentage
      properties:
        percentage:
          allOf:
            - $ref: '#/components/schemas/Percentage'
            - description: The percentage of the total processing fee that this account will cover.
              example: 100
    SplitsRequest:
      description: |
        The list of payment splits for the accounts involved in the funds flow.

        See [how splits work](/monetize/splits) for more information.
      type: object
      required:
        - type
        - accounts
      properties:
        type:
          $ref: '#/components/schemas/SplitsType'
        accounts:
          description: The list of accounts involved in the payment that will receive the funds.
          type: array
          minItems: 1
          uniqueItems: true
          items:
            description: A payment split account.
            type: object
            required:
              - type
              - id
              - split
            properties:
              type:
                $ref: '#/components/schemas/SplitsAccountType'
              id:
                $ref: '#/components/schemas/AccountId'
              split:
                description: The amount in the payment currency to be allocated to this account.
                oneOf:
                  - $ref: '#/components/schemas/SplitFixedAmount'
                  - $ref: '#/components/schemas/SplitPercentageAmountRequest'
                  - $ref: '#/components/schemas/SplitRemainingAmountRequest'
                discriminator:
                  propertyName: type
                  mapping:
                    fixed: '#/components/schemas/SplitFixedAmount'
                    percentage: '#/components/schemas/SplitPercentageAmountRequest'
                    remaining: '#/components/schemas/SplitRemainingAmountRequest'
              processing_fee:
                $ref: '#/components/schemas/ProcessingFeeRequest'
    Email:
      description: An email address.
      type: string
      format: email
      maxLength: 320
      example: jane.doe@company.com
    Country:
      type: string
      format: country
      minLength: 2
      maxLength: 2
      description: The two-letter [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
      example: DE
    AddressOptionalFields:
      type: object
      properties:
        line1:
          allOf:
            - $ref: '#/components/schemas/MediumString'
            - description: The first line of the address.
              example: Immermannstraße
        line2:
          allOf:
            - $ref: '#/components/schemas/MediumString'
            - description: The second line of the address.
              example: Haus 2, Wohnung 3A
        street_number:
          allOf:
            - $ref: '#/components/schemas/ShortString'
            - description: |
                The number assigned to the building on the street.
                May include alphanumeric formatting such as "7A" or "12-14". street number.
              example: '40'
        city:
          allOf:
            - $ref: '#/components/schemas/MediumString'
            - description: The city, town, municipality, or locality where the address is located.
              example: Düsseldorf
        region:
          allOf:
            - $ref: '#/components/schemas/MediumString'
            - description: The administrative area such as region, province, state, or county.
              example: Nordrhein-Westfalen
        postal_code:
          description: The postal code, postcode, or ZIP code used for mail delivery.
          type: string
          minLength: 1
          maxLength: 16
          example: '40210'
    CheckoutBuyerAddress:
      allOf:
        - description: |
            The buyer's address.

            **Required if the country of the seller account is Canada (CA).**
          properties:
            line1:
              type: string
            line2:
              type: string
            street_number:
              type: string
            city:
              type: string
            region:
              type: string
            postal_code:
              type: string
            country:
              allOf:
                - description: |
                    The country of the buyer's address in the form of a two-letter [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).

                    **Required if the country of the seller account is Canada (CA).**
                - $ref: '#/components/schemas/Country'
        - $ref: '#/components/schemas/AddressOptionalFields'
    CheckoutBuyerRequest:
      description: |
        Buyer details to pre-fill during checkout.

        **Required if the country of the seller account is Canada (CA).**
      type: object
      properties:
        first_name:
          allOf:
            - $ref: '#/components/schemas/ShortString'
            - description: The buyer's first name.
              example: Jane
        last_name:
          allOf:
            - $ref: '#/components/schemas/ShortString'
            - description: The buyer's last name.
              example: Doe
        email:
          allOf:
            - description: |
                The buyer's email address.

                **Required if the country of the seller account is Canada (CA).**
            - $ref: '#/components/schemas/Email'
        address:
          $ref: '#/components/schemas/CheckoutBuyerAddress'
        nationality:
          allOf:
            - description: The buyer's nationality in the form of a two-letter [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
              example: DE
            - $ref: '#/components/schemas/Country'
        business:
          description: The buyer's business details.
          properties:
            legal_name:
              allOf:
                - $ref: '#/components/schemas/MediumString'
                - description: The legal name of the business.
                  example: Motorbikes Düsseldorf GmbH
    StandingInstructionTerms:
      description: Terms for standing instructions of recurring payments.
      type: object
      required:
        - type
      properties:
        type:
          description: |
            Type of standing instruction.

            - `recurring`: periodic charges at a fixed frequency.
            - `unscheduled`: payments with no fixed schedule or frequency.
          type: string
          enum:
            - recurring
            - unscheduled
    InitialStandingInstructionRequest:
      description: Terms for a new standing instruction to gather the consent in the initial payment in a series of recurring payments.
      type: object
      required:
        - terms
      properties:
        terms:
          $ref: '#/components/schemas/StandingInstructionTerms'
    Url:
      type: string
      format: uri
      maxLength: 1024
    PaymentWebhooksRequest:
      description: Configuration for webhooks to receive payment status updates.
      type: object
      required:
        - url
      properties:
        url:
          allOf:
            - description: The URL to which webhook events will be sent.
              example: https://webhooks.titanauto.com/getpaid
            - $ref: '#/components/schemas/Url'
    CreateCheckoutRequest:
      type: object
      required:
        - reference
        - amount
        - currency
        - description
        - splits
        - redirect
      properties:
        reference:
          $ref: '#/components/schemas/Reference'
        amount:
          $ref: '#/components/schemas/AmountMinor'
        currency:
          $ref: '#/components/schemas/Currency'
        description:
          $ref: '#/components/schemas/CheckoutDescription'
        expires_in:
          description: Checkout expiration duration in HHHH:mm format, from 00:01 (1 minute) to 2160:00 (90 days).
          type: string
          pattern: ^\d{2,4}:[0-5]\d$
          minLength: 5
          maxLength: 7
          example: '01:30'
        payment_methods:
          $ref: '#/components/schemas/CheckoutPaymentMethodsRequest'
        splits:
          $ref: '#/components/schemas/SplitsRequest'
        buyer:
          $ref: '#/components/schemas/CheckoutBuyerRequest'
        standing_instruction:
          $ref: '#/components/schemas/InitialStandingInstructionRequest'
        redirect:
          description: Configuration for the redirect behavior after the payment is completed.
          required:
            - default
          properties:
            default:
              allOf:
                - $ref: '#/components/schemas/Url'
                - description: The URL to which the buyer will be redirected after the payment is completed (success or failure), if `completed` or `failed` are not provided.
                  example: https://titanauto.com/checkout/complete?order=202510-0232
            completed:
              allOf:
                - $ref: '#/components/schemas/Url'
                - description: The URL to which the buyer will be redirected if the payment results in success.
                  example: https://titanauto.com/checkout/complete?order=202510-0232
            failed:
              allOf:
                - $ref: '#/components/schemas/Url'
                - description: The URL to which the buyer will be redirected if the payment results in failure.
                  example: https://titanauto.com/checkout/payment-failed?order=202510-0232
        webhooks:
          $ref: '#/components/schemas/PaymentWebhooksRequest'
    CheckoutId:
      allOf:
        - $ref: '#/components/schemas/Id'
        - description: The unique identifier of the checkout.
          example: cko_4kf9v6xp00hzc99rdwr5m97wce
    CheckoutStatus:
      description: |
        The status of the checkout.
        See the [list, transitions, and description of each status](/payments/checkouts#lifecycle) for more details.
      type: string
      enum:
        - initiated
        - started
        - in_progress
        - completed
        - failed
        - expired
    DateTime:
      description: |
        UTC timestamp in ISO 8601 format with milliseconds ([RFC 3339](https://www.rfc-editor.org/rfc/rfc3339.html)).
        Always includes the 'Z' UTC indicator.
      type: string
      format: date-time
      minLength: 24
      maxLength: 24
      example: '2025-09-01T22:05:48.479Z'
    CreatedAt:
      allOf:
        - description: When the resource was created.
        - $ref: '#/components/schemas/DateTime'
    UpdatedAt:
      allOf:
        - description: When the resource was last updated.
        - $ref: '#/components/schemas/DateTime'
    CheckoutExpiresAt:
      allOf:
        - description: When the checkout session will expire if not completed.
        - $ref: '#/components/schemas/DateTime'
    CheckoutFlow:
      description: The flow required for the checkout to complete.
      type: object
      required:
        - next_step
      properties:
        next_step:
          description: The next step required to complete the flow.
          type: object
          required:
            - type
            - url
          properties:
            type:
              description: The type of the next step.
              type: string
              enum:
                - redirect
            url:
              allOf:
                - $ref: '#/components/schemas/Url'
                - description: The URL to redirect the buyer to complete the payment.
    CheckoutPaymentMethodsResponse:
      description: The payment methods of this checkout.
      type: object
      required:
        - type
        - available
      properties:
        type:
          description: The available payment methods selection method.
          type: string
          enum:
            - default
            - explicit
        available:
          description: The list of payment methods available for this checkout.
          type: array
          minItems: 1
          uniqueItems: true
          items:
            $ref: '#/components/schemas/PaymentMethodDescriptor'
    Version:
      description: A resource version.
      type: string
      format: version
      minLength: 1
      maxLength: 50
      example: '2'
    AccountVersion:
      allOf:
        - description: The account version.
        - $ref: '#/components/schemas/Version'
    AccountLegalName:
      allOf:
        - description: The legal name of the account.
        - $ref: '#/components/schemas/MediumString'
    SplitPercentageAmountCalculated:
      allOf:
        - $ref: '#/components/schemas/SplitPercentageAmountRequest'
        - required:
            - amount
          properties:
            amount:
              $ref: '#/components/schemas/SplitAmountMinor'
    SplitRemainingAmountCalculated:
      allOf:
        - $ref: '#/components/schemas/SplitRemainingAmountRequest'
        - required:
            - amount
          properties:
            amount:
              $ref: '#/components/schemas/SplitAmountMinor'
    SplitsCalculated:
      description: |
        The list of payment splits for the accounts involved in the funds flow.

        The final split gross amounts have been calculated but processing fees are not included until the payment is captured.
      type: object
      required:
        - type
        - accounts
      properties:
        type:
          $ref: '#/components/schemas/SplitsType'
        accounts:
          description: The list of accounts involved in the payment that will receive the funds.
          type: array
          minItems: 1
          uniqueItems: true
          items:
            description: A payment split account.
            type: object
            required:
              - type
              - id
              - version
              - legal_name
              - split
              - processing_fee
            properties:
              type:
                $ref: '#/components/schemas/SplitsAccountType'
              id:
                $ref: '#/components/schemas/AccountId'
              version:
                $ref: '#/components/schemas/AccountVersion'
              legal_name:
                $ref: '#/components/schemas/AccountLegalName'
              split:
                description: The amount in the payment currency to be allocated to this account.
                oneOf:
                  - $ref: '#/components/schemas/SplitFixedAmount'
                  - $ref: '#/components/schemas/SplitPercentageAmountCalculated'
                  - $ref: '#/components/schemas/SplitRemainingAmountCalculated'
                discriminator:
                  propertyName: type
                  mapping:
                    fixed: '#/components/schemas/SplitFixedAmount'
                    percentage: '#/components/schemas/SplitPercentageAmountCalculated'
                    remaining: '#/components/schemas/SplitRemainingAmountCalculated'
              processing_fee:
                $ref: '#/components/schemas/ProcessingFeeRequest'
    CreateCheckoutResponse:
      type: object
      required:
        - id
        - status
        - reference
        - created_at
        - updated_at
        - expires_at
        - flow
        - payment_methods
        - splits
      properties:
        id:
          $ref: '#/components/schemas/CheckoutId'
        status:
          $ref: '#/components/schemas/CheckoutStatus'
          const: initiated
        reference:
          $ref: '#/components/schemas/Reference'
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
        expires_at:
          $ref: '#/components/schemas/CheckoutExpiresAt'
        flow:
          $ref: '#/components/schemas/CheckoutFlow'
        payment_methods:
          $ref: '#/components/schemas/CheckoutPaymentMethodsResponse'
        splits:
          $ref: '#/components/schemas/SplitsCalculated'
    CheckoutIsExpired:
      type: boolean
      description: Indicates whether the checkout has expired. A checkout is considered expired when the current time has passed the `expires_at` timestamp.
      example: false
    CheckoutOriginBase:
      type: object
      required:
        - type
      properties:
        type:
          description: |
            The checkout origin type.

            - `api`: The checkout was created via the API.
          type: string
          enum:
            - api
    CheckoutOriginApi:
      allOf:
        - $ref: '#/components/schemas/CheckoutOriginBase'
    CheckoutOrigin:
      description: The origin of the checkout initiation.
      allOf:
        - $ref: '#/components/schemas/CheckoutOriginApi'
      discriminator:
        propertyName: type
        mapping:
          api: '#/components/schemas/CheckoutOriginApi'
    CheckoutPaymentMethodsAvailable:
      description: The payment methods of this checkout.
      type: object
      required:
        - type
        - available
      properties:
        type:
          description: The available payment methods selection method.
          type: string
          enum:
            - default
            - explicit
        available:
          description: The list of payment methods available for this checkout.
          type: array
          minItems: 1
          uniqueItems: true
          items:
            $ref: '#/components/schemas/PaymentMethodDescriptor'
        options:
          $ref: '#/components/schemas/CheckoutPaymentMethodsOptions'
    StandingInstructionStatus:
      description: |
        The status of the standing instruction.

        - `new`: requested to creation as part of an initial payment.
        - `active`: standing instruction is active and can be used for subsequent payments.
      type: string
      enum:
        - new
        - active
    BaseStandingInstruction:
      type: object
      required:
        - status
        - terms
      properties:
        status:
          $ref: '#/components/schemas/StandingInstructionStatus'
        terms:
          $ref: '#/components/schemas/StandingInstructionTerms'
    NewStandingInstruction:
      allOf:
        - description: Details for a new standing instruction for recurring payments.
        - $ref: '#/components/schemas/BaseStandingInstruction'
    Index:
      description: The index of the element in the list.
      type: integer
      minimum: 0
      example: 0
    PaymentId:
      allOf:
        - $ref: '#/components/schemas/Id'
        - description: The unique identifier of the payment.
          example: pay_4a4m2pjycdb1jbj68h1rvk9kcz
    PaymentStatusPhase:
      description: |
        The phase of the payment, based on its status.

        - `in_progress`: The payment is being processed.
        - `completed`: The payment attempt completed successfully.
        - `failed`: The payment attempt was unsuccessful.
      type: string
      enum:
        - in_progress
        - completed
        - failed
    PaymentMethodDisplayHint:
      allOf:
        - description: A hint of the payment method used.
        - $ref: '#/components/schemas/ShortString'
    BasePaymentMethodDetails:
      allOf:
        - $ref: '#/components/schemas/PaymentMethodBase'
        - required:
            - display_hint
          properties:
            display_hint:
              $ref: '#/components/schemas/PaymentMethodDisplayHint'
    CardPaymentMethodDetails:
      allOf:
        - $ref: '#/components/schemas/BasePaymentMethodDetails'
        - required:
            - card
          properties:
            card:
              description: The card details.
              type: object
              required:
                - scheme
                - holder_name
                - first_digits
                - last_digits
                - expiry_month
                - expiry_year
              properties:
                scheme:
                  $ref: '#/components/schemas/CardScheme'
                holder_name:
                  description: The name of the cardholder as printed on the card.
                  type: string
                  minLength: 1
                  maxLength: 26
                  example: Jane Doe
                first_digits:
                  description: The first four to six digits of the card number (BIN) that identify the issuing bank.
                  type: string
                  minLength: 4
                  maxLength: 6
                  example: '424242'
                last_digits:
                  description: The last four digits of the card number.
                  type: string
                  minLength: 4
                  maxLength: 4
                  example: '4242'
                expiry_month:
                  description: The expiration month of the card.
                  type: integer
                  minimum: 1
                  maximum: 12
                  example: 12
                expiry_year:
                  description: The expiration year of the card.
                  type: integer
                  minimum: 2021
                  example: 2025
                kind:
                  description: Kind of the payment card.
                  type: string
                  enum:
                    - credit
                    - debit
                  example: credit
                segment:
                  description: Segment of the payment card.
                  type: string
                  enum:
                    - consumer
                    - corporate
                  example: consumer
    SddPaymentMethodDetails:
      allOf:
        - $ref: '#/components/schemas/BasePaymentMethodDetails'
        - required:
            - bank_account
          properties:
            bank_account:
              description: The bank account details.
              type: object
              required:
                - type
                - number
              properties:
                type:
                  description: The type of bank account.
                  type: string
                  enum:
                    - business
                    - consumer
                number:
                  description: The bank account number details.
                  type: object
                  required:
                    - type
                    - value
                  properties:
                    type:
                      description: The type of bank account number.
                      type: string
                      enum:
                        - iban
                    value:
                      description: The bank account number value.
                      type: string
                      minLength: 15
                      maxLength: 33
                      example: DE85100100100006992334
    PaymentMethodDetails:
      description: The payment method used.
      anyOf:
        - $ref: '#/components/schemas/CardPaymentMethodDetails'
        - $ref: '#/components/schemas/SddPaymentMethodDetails'
      discriminator:
        propertyName: type
        mapping:
          card: '#/components/schemas/CardPaymentMethodDetails'
          sepa_direct_debit: '#/components/schemas/SddPaymentMethodDetails'
    CheckoutPayments:
      description: The payments initiated as part of this checkout.
      type: array
      uniqueItems: true
      items:
        description: A payment initiated as part of this checkout.
        type: object
        required:
          - index
          - id
          - status
          - created_at
          - updated_at
          - method
        properties:
          index:
            $ref: '#/components/schemas/Index'
          id:
            $ref: '#/components/schemas/PaymentId'
          status:
            $ref: '#/components/schemas/PaymentStatusPhase'
          created_at:
            $ref: '#/components/schemas/CreatedAt'
          updated_at:
            $ref: '#/components/schemas/UpdatedAt'
          method:
            $ref: '#/components/schemas/PaymentMethodDetails'
    ThemeId:
      allOf:
        - $ref: '#/components/schemas/Id'
        - description: The unique identifier of the theme.
          example: thm_4jkgtzffbf9pzem7dgfhdeztwa
    ThemeRef:
      type: object
      required:
        - id
        - name
      properties:
        id:
          $ref: '#/components/schemas/ThemeId'
        name:
          allOf:
            - $ref: '#/components/schemas/MediumString'
            - description: The name of the theme.
    CheckoutInitiatedStarted:
      type: object
      required:
        - id
        - status
        - reference
        - created_at
        - updated_at
        - expires_at
        - is_expired
        - amount
        - currency
        - flow
        - origin
        - payment_methods
        - splits
        - payments
        - theme
        - events
      properties:
        id:
          $ref: '#/components/schemas/CheckoutId'
        status:
          $ref: '#/components/schemas/CheckoutStatus'
        reference:
          $ref: '#/components/schemas/Reference'
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
        expires_at:
          $ref: '#/components/schemas/CheckoutExpiresAt'
        is_expired:
          $ref: '#/components/schemas/CheckoutIsExpired'
        amount:
          $ref: '#/components/schemas/AmountMinor'
        currency:
          $ref: '#/components/schemas/Currency'
        description:
          $ref: '#/components/schemas/CheckoutDescription'
        flow:
          $ref: '#/components/schemas/CheckoutFlow'
        origin:
          $ref: '#/components/schemas/CheckoutOrigin'
        payment_methods:
          $ref: '#/components/schemas/CheckoutPaymentMethodsAvailable'
        splits:
          $ref: '#/components/schemas/SplitsCalculated'
        standing_instruction:
          $ref: '#/components/schemas/NewStandingInstruction'
        payments:
          $ref: '#/components/schemas/CheckoutPayments'
        theme:
          allOf:
            - description: The theme used for the checkout.
            - $ref: '#/components/schemas/ThemeRef'
    CheckoutPaymentMethodsWithSelected:
      allOf:
        - required:
            - selected
          properties:
            type:
              type: string
            selected:
              $ref: '#/components/schemas/PaymentMethodDescriptor'
              description: The payment method selected by the buyer.
        - $ref: '#/components/schemas/CheckoutPaymentMethodsAvailable'
    CheckoutInProgress:
      type: object
      required:
        - id
        - status
        - reference
        - created_at
        - updated_at
        - expires_at
        - is_expired
        - amount
        - currency
        - flow
        - origin
        - payment_methods
        - splits
        - payments
        - theme
        - events
      properties:
        id:
          $ref: '#/components/schemas/CheckoutId'
        status:
          $ref: '#/components/schemas/CheckoutStatus'
        reference:
          $ref: '#/components/schemas/Reference'
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
        expires_at:
          $ref: '#/components/schemas/CheckoutExpiresAt'
        is_expired:
          $ref: '#/components/schemas/CheckoutIsExpired'
        amount:
          $ref: '#/components/schemas/AmountMinor'
        currency:
          $ref: '#/components/schemas/Currency'
        description:
          $ref: '#/components/schemas/CheckoutDescription'
        flow:
          $ref: '#/components/schemas/CheckoutFlow'
        origin:
          $ref: '#/components/schemas/CheckoutOrigin'
        payment_methods:
          $ref: '#/components/schemas/CheckoutPaymentMethodsWithSelected'
        splits:
          $ref: '#/components/schemas/SplitsCalculated'
        standing_instruction:
          $ref: '#/components/schemas/NewStandingInstruction'
        payments:
          $ref: '#/components/schemas/CheckoutPayments'
        theme:
          allOf:
            - description: The theme used for the checkout.
            - $ref: '#/components/schemas/ThemeRef'
    ProcessingFeeAmount:
      allOf:
        - description: The processing fee amount covered by this account in the minor currency unit (e.g. 100 cents for 1 EUR).
        - $ref: '#/components/schemas/AmountMinor'
    ProcessingFeeCalculated:
      allOf:
        - $ref: '#/components/schemas/ProcessingFeeRequest'
        - required:
            - amount
          properties:
            amount:
              $ref: '#/components/schemas/ProcessingFeeAmount'
    SplitsAndFeesCalculated:
      description: |
        The list of payment splits for the accounts involved in the funds flow.

        The final split amounts and processing fees have been calculated.
      type: object
      required:
        - type
        - accounts
      properties:
        type:
          $ref: '#/components/schemas/SplitsType'
        accounts:
          description: The list of accounts involved in the payment that will receive the funds.
          type: array
          minItems: 1
          uniqueItems: true
          items:
            description: A payment split account.
            type: object
            required:
              - type
              - id
              - version
              - legal_name
              - split
              - processing_fee
            properties:
              type:
                $ref: '#/components/schemas/SplitsAccountType'
              id:
                $ref: '#/components/schemas/AccountId'
              version:
                $ref: '#/components/schemas/AccountVersion'
              legal_name:
                $ref: '#/components/schemas/AccountLegalName'
              split:
                description: The amount in the payment currency to be allocated to this account.
                oneOf:
                  - $ref: '#/components/schemas/SplitFixedAmount'
                  - $ref: '#/components/schemas/SplitPercentageAmountCalculated'
                  - $ref: '#/components/schemas/SplitRemainingAmountCalculated'
                discriminator:
                  propertyName: type
                  mapping:
                    fixed: '#/components/schemas/SplitFixedAmount'
                    percentage: '#/components/schemas/SplitPercentageAmountCalculated'
                    remaining: '#/components/schemas/SplitRemainingAmountCalculated'
              processing_fee:
                $ref: '#/components/schemas/ProcessingFeeCalculated'
    StandingInstructionId:
      allOf:
        - $ref: '#/components/schemas/Id'
        - description: The unique identifier of the standing instruction.
          example: sti_4tbftjwzxja1h71nzas1g0g1xm
    ActiveStandingInstruction:
      allOf:
        - description: An active standing instruction for recurring payments.
          required:
            - id
          properties:
            id:
              $ref: '#/components/schemas/StandingInstructionId'
        - $ref: '#/components/schemas/BaseStandingInstruction'
    CheckoutCompleted:
      type: object
      required:
        - id
        - status
        - reference
        - created_at
        - updated_at
        - expires_at
        - is_expired
        - amount
        - currency
        - origin
        - payment_methods
        - splits
        - payments
        - theme
        - events
      properties:
        id:
          $ref: '#/components/schemas/CheckoutId'
        status:
          $ref: '#/components/schemas/CheckoutStatus'
        reference:
          $ref: '#/components/schemas/Reference'
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
        expires_at:
          $ref: '#/components/schemas/CheckoutExpiresAt'
        is_expired:
          $ref: '#/components/schemas/CheckoutIsExpired'
        amount:
          $ref: '#/components/schemas/AmountMinor'
        currency:
          $ref: '#/components/schemas/Currency'
        description:
          $ref: '#/components/schemas/CheckoutDescription'
        origin:
          $ref: '#/components/schemas/CheckoutOrigin'
        payment_methods:
          $ref: '#/components/schemas/CheckoutPaymentMethodsWithSelected'
        splits:
          $ref: '#/components/schemas/SplitsAndFeesCalculated'
        standing_instruction:
          $ref: '#/components/schemas/ActiveStandingInstruction'
        payments:
          $ref: '#/components/schemas/CheckoutPayments'
        theme:
          allOf:
            - description: The theme used for the checkout.
            - $ref: '#/components/schemas/ThemeRef'
    CheckoutFailed:
      type: object
      required:
        - id
        - status
        - reference
        - created_at
        - updated_at
        - expires_at
        - is_expired
        - amount
        - currency
        - origin
        - payment_methods
        - splits
        - payments
        - theme
        - events
      properties:
        id:
          $ref: '#/components/schemas/CheckoutId'
        status:
          $ref: '#/components/schemas/CheckoutStatus'
        reference:
          $ref: '#/components/schemas/Reference'
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
        expires_at:
[...]
